<h1>
    Home Page
</h1>

<h2>
    List of Created Events
</h2>
<div>
    <ul>
        <% current_user.created_events.each do |event| %>
            <li><%= event.name %></li>
        <% end %>
    </ul>
</div>

<h2>
    List of Attending Events
</h2>
<div>
    <ul>
        <% current_user.attended_events.each do |event| %>
            <li><%= event.name %></li>
        <% end %>
    </ul>
</div>
