<h1>
    All Events
</h1>
<div>
    <ul>
        <% @events.each do |event| %>
            <li><%= event.name %></li>
            <%= button_to 'Attend', attend_path(event_id: event.id), method: :post %>
        <% end %>
    </ul>
</div>